#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
}
.container {
  display: flex;
  gap: 40px;
}
.actual-plan-details {
  width: 20%;
  padding: 40px;
  border-radius: 10px;
  max-height: 350px;
  background-color: #9C3848;
}

.actual-plan-details > h4 {
  font-size: 20px;
}
.actual-plan-details > span {
  font-size: 18px;
}
.actual-plan-details > div {
  font-size: 12px;
}

.plans {
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      220px,
      1fr
    )
  );
  gap: 10px;
}
.card img {
  height: 100px;
}
.card { 
  padding: 10px;
  background-color: #9C3848;
  border-radius: 10px;
}
.plan-name {
  display: block;
}
.dc-value {
  display: block;
  font-size: 12px;
}